<section>
    <nav>
        <a href="/">
            <img src="/images/logo-desktop.png" alt=""> 
        </a>
        <ul>
            <li><a href="/profiel">Mijn Profiel</a></li>
            <li><a href="/likes">Mijn Likes</a></li>
            <li><a href="/users">Gebruikers</a></li>
        </ul>
    </nav>
</section>