<section>
    <nav>
        <a href="/">
            <img src="/images/logo-desktop.png" alt="Afbeelding van het logo, snelkoppeling naar de home pagina">
        </a>
        <ul>
            <li><a href="/users">Gebruikers</a></li>
            <li><a href="/profiel">Mijn profiel</a></li>
            <li><a href="/likes">Mijn likes</a></li>
            <li>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log out →</button>
                </form>
            </li>
        </ul>
    </nav>
</section>