<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="index">
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  
  <section>
    <h1>Care for you</h1>

    <p>Ben jij een ouderen opzoek naar gezelschap of naar zorg in je huis? Dan ben je op de goede plek, je kunt hier iemand vinden die je kan helpen of gezelschap kan houden!</p>
    <p>Ben jij een persoon die graag ouderen wil helpen met huishoudelijke klusjes of de ouderen gezelschap wilt houden meld je dan hier beneden aan!</p>

    <a href="/ouderen">Registreren →</a>
  </section>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>