<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="login">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section>
            <h1>Login</h1>
            <% if (messages.error) {%>
            <p><%= messages.error%> <%}%></p>
            <form action="/login" method="post">
                <div>
                    <input type="email" name="email" id="email" placeholder="E-mail adress" autocomplete="email">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Wachtwoord" autocomplete="current-password">
                </div>
                <button type="submit">Inloggen</button>
            </form>

            <a href="/register">Heb je nog geen account? Meld je nu aan!</a>
        </section>
        
    </main>

</body>

</html>