<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="index">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <section>
            <h1>Hey <%= newUser.name %></h1><br>
            <p><strong>Uw account is geverifieerd</strong></p>
            <p>Log snel in om te beginnen!</p><br><br>
            <a href="/login">Login →</a>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>