<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="index banner">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <section class="banner">
            <h1>Verify gebruiker</h1>
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1366 163.68">
                <path class="cls-1"
                    d="M0,163.68C215.94,64.47,388.41,49.89,504.63,54.33c157.74,6.01,227.33,47.62,384.8,52.22,204.29,5.97,370.77-55.77,476.57-106.55V163.68H0Z" />
            </svg>
        </section>
        <section>
            <h1>Hey <%= newUser.name %></h1>
            <p><strong>Uw account is geverifieerd</strong></p>
            <p>Log snel in om te beginnen!</p>
            <a href="/login">Login →</a>
        </section>
    </main>
</body>

</html>