footer {
	bottom: 0;
	left: 0;
	right: 0;
	height: 2em;
	background-color: #f2d6ca;

	section {

		p {
			text-align: center;
			color: #519188;
			font-weight: 600;
			padding: 0.3em;
			margin-top: 1em;
		}
	}
}