// styling van de header
header {
	padding: 0.3em 1.3em;
	background-color: #f2d6ca;

    nav {
		display: flex;
		align-items: center;

        img{
            max-height: 5em;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            

            li {
                list-style: none;
                border-left: 2px solid #519188;
                border-right: 2px solid #519188;
                height: 100%;
                padding: 1.5em;
                
                a {
                    text-align: center;
                    color: #519188;
                    font-size: 20px;
                    font-weight: bold;
                    text-decoration: none;
                    padding: 1em 2em;
                    border-radius: 5px;
                    transition: ease-in-out;
                    transition-duration: 300ms;

                    &:hover {
                        background-color: #d5b9b1;
                        text-decoration: underline;
                    }

                    &:active {
                        border: 2px solid #519188;
                    }

                }
            }
        }

        button {
            // padding: .2em .4em;
            font-size: 1em;
            border: 2px solid #519188;
            background-color: #519188;
            padding: .9em;
            color: white;
            font-weight: 700;
            // background-color: transparent;
            cursor: pointer;
            transition: all 200ms;


            &:hover {
                text-decoration: underline;
                box-shadow: 2px 2px 10px rgba($color: #519188, $alpha: 0.75);
            }
        }
    }
}
