// styling van de header
header {
    padding: 0.3em 1.3em;
    background-color: #f2d6ca;

    nav {
        display: flex;
        align-items: center;

        img {
            max-height: 5em;
        }

        ul {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;

            li {
                list-style: none;
                height: 100%;
                padding: 1em;
                border-radius: 60px;
                border: 2px solid transparent;
                transition: all 100ms;

                &:hover:not(li:first-of-type, li:last-of-type) {
                    border: 2px solid #fff;
                }

                &:first-of-type {
                    background-color: #519188;
                    border-radius: 50px;
                    transition: all 100ms;
                    margin-right: 2em;
                    margin-left: 2.3em;

                    a {
                        &:hover {
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                    &:hover {
                        background-color: #2d5c56;
                        border: 2px solid #2d5c56;
                    }
                }

                &:nth-of-type(2) {
                    margin-right: 2em;
                }

                &:last-of-type {
                    margin-left: auto;

                    button {
                        font-family: Montserrat, sans-serif;
                        text-transform: uppercase;
                        text-align: center;
                        color: #fff;
                        font-size: 1em;
                        font-weight: 600;
                        text-decoration: none;
                        padding: 1em 2em;
                        border-radius: 50px;
                        transition: all .1s;
                        border: none;
                        background-color: #333333;
                        color: rgba($color: #ffffff, $alpha: .75);
                        cursor: pointer;

                        &:hover {
                            background-color: rgba($color: #888888, $alpha: 1);
                            color: #fff;
                            text-shadow: 1px 1px 5px rgb(0 0 0 / 40%);
                        }
                    }
                }

                a {
                    font-family: Montserrat, sans-serif;
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                    font-size: 1em;
                    font-weight: 600;
                    text-decoration: none;
                    padding: 1em 2em;
                    border-radius: 5px;
                    transition: all 100ms;
                }
            }
        }
    }
}