body {
    &.login {
        header {

            section {

                nav {

                    ul {
                        display: none;

                    }

                    form {
                        display: none;

                    }
                }
            }

        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            section {
                display: flex;
                flex-direction: column;
                gap: .5em;
                align-items: center;

                p {
                    color: orange;
                }

                a {
                    color: black;
                    text-decoration: none;
                    margin-top: 1em;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 15em;
                    gap: 1em;

                    div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        input {
                            height: 3em;
                            font-size: 1em;
                            border-radius: .5em;
                            border: 2px solid #dfdfdf;
                            padding: 1em;
                            transition: all 100ms;
                            box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 11%);
                            outline: none;

                            &:focus {
                                box-shadow: 3px 3px 6px 3px rgb(0 0 0 / 20%);
                                border: solid 2px rgb(124, 124, 124);
                            }
                        }
                    }

                    button {
                        color: #fff;
                        font-size: 1em;
                        padding: .25em .5em;
                        border: none;
                        background: #519188;
                        cursor: pointer;
                        transition: all 100ms;
                        width: 100%;
                        border-radius: 50px;
                        height: 3em;

                        &:hover {
                            background-color: #1b3e3a;
                        }
                    }
                }
            }
        }
    }
}