$titleFont: 'Montserrat', sans-serif;
$bodyFont: "Roboto", sans-serif;

*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p,
a,
label,
legend,
fieldset,
textarea,
button,
li
 {
	font-family: $bodyFont;
}

h1,
h2,
h3,
h4{
	font-family: $titleFont;
}
