$titleFont: 'Montserrat',
sans-serif;
$bodyFont: "Roboto",
sans-serif;

*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p,
a,
label,
legend,
fieldset,
textarea,
button,
li {
	font-family: $bodyFont;
}

h1,
h2,
h3,
h4 {
	font-family: $titleFont;
}

body {
	&.banner {
		main {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			max-width: 100%;
			margin: unset;

			section {
				z-index: 1;
				width: 50em;
				height: 30em;
				padding: 5%;

				&.banner {
					z-index: inherit;
					position: absolute;
					inset: 0 0 auto 0;
				}
			}
		}


	}

	main {
		section {
			&.banner {
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				padding: 0 0 0 1em;
				margin: 0;
				width: 100%;
				max-width: 100%;
				height: 7em;
				overflow: hidden;
				background: #f2d6ca;
				box-shadow: none;
				border-radius: unset;

				h1 {
					z-index: 1;
					font-size: 2.5em;
				}

				svg {
					fill: white;
					position: absolute;
					inset: auto 0 0 0;
					width: 100%;
					height: 100%;
					object-fit: contain;

				}
			}
		}
	}
}

img {
	position: relative;

	&[alt] {
		&::after {
			content: "";
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			background: url("/dist/images/webp/placeholder.webp") no-repeat center;
			background-size: cover;
			// object-fit: fill;
			color: transparent;
		}

	}
}