body.profiel {
    main {
        display: flex;
        flex-direction: column;

        section {
            display: flex;

            // &.banner {
            //     position: relative;
            //     display: flex;
            //     align-items: center;
            //     justify-content: left;
            //     padding-left: 1em;
            //     width: 100%;
            //     height: 7em;
            //     overflow: hidden;
            //     background: #f2d6ca;

            //     h1 {
            //         z-index: 1;
            //     }

            //     svg {
            //         fill: white;
            //         position: absolute;
            //         inset: auto 0 0 0;
            //         width: 100%;
            //         height: 100%;
            //         object-fit: contain;

            //     }
            // }

            &.content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                width: 100%;
                min-width: 35em;
                height: auto;
                margin: -3em 0 2em;
                z-index: 1;
                border-radius: 0 0 2em 0;

                section {
                    flex-direction: column;
                    gap: 1em;

                    &.pictureName {
                        align-items: center;
                        position: relative;
                        width: 100%;

                        img {
                            width: 10em;
                            height: 10em;
                            border-radius: 100%;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            box-shadow: 3px 3px 5px rgba($color: #808080, $alpha: 0.6);
                            overflow: hidden;
                            list-style: none;
                            position: relative;

                            &[alt] {
                                &::after {
                                    content: "";
                                    z-index: 1;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: inherit;
                                    height: inherit;
                                    background: url("/dist/images/webp/placeholder.webp") no-repeat center;
                                    background-size: cover;
                                    color: transparent;
                                }
                            }
                        }

                        h2 {
                            text-align: center;

                            span {
                                font-weight: 200;
                            }
                        }

                        form {
                            &.logout {
                                position: absolute;
                                top: 3em;
                                right: 2em;
                                width: auto;
                                height: auto;

                                button {
                                    font-size: 1em;
                                    background-color: #519188;
                                    padding: .7em 1.5em;
                                    color: white;
                                    font-weight: 700;
                                    cursor: pointer;
                                    transition: all 100ms;
                                    border-radius: 50px;
                                    border: none;

                                    &:hover {
                                        background-color: #1b3e3a;
                                    }
                                }
                            }
                        }

                        section {


                            &.like {
                                align-items: flex-start;

                                a {
                                    color: white;
                                    padding: 0.7em;
                                    background-color: #519188;
                                    text-decoration: none;
                                }

                                form {
                                    position: absolute;
                                    top: 3em;
                                    right: 2em;
                                    width: auto;
                                    height: auto;

                                    button {
                                        border: none;
                                        background-color: transparent;
                                        cursor: pointer;
                                        box-shadow: none;

                                        svg {
                                            height: 50px;
                                            width: 50px;
                                            fill: rgba($color: #519188, $alpha: 0.3);
                                            transition: all 150ms;

                                            &:hover {
                                                fill: rgba($color: #519188, $alpha: 0.6);
                                                filter: drop-shadow(0px 0px 5px rgba($color: #519188, $alpha: 0.75));
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.line {
                        width: 100%;
                        padding: 0 1em;

                        div {
                            width: 100%;
                            height: 1px;
                            background-color: rgba($color: #519188, $alpha: 0.5);
                        }
                    }

                    &.info {
                        display: flex;
                        flex-direction: column;
                        gap: .5em;
                        width: 100%;
                        padding: 0 1em;
                        height: 25em;
                        overflow: hidden;
                        overflow-y: scroll;

                        section {
                            gap: .8em;

                            section {
                                gap: .2em;
                            }

                            ul {
                                display: flex;
                                gap: .5em;

                                li {
                                    color: #000;
                                    list-style: none;
                                    padding: 0.3em 0.5em;
                                    margin-top: 0.2em;
                                    background-color: #f2d6ca;
                                    border-radius: 20px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    section {
                        &.map {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;
                            height: 25em;
                            width: 100%;
                        }
                    }
                }
            }

            &.midLine {
                height: auto;
                padding: 1em 0;

                div {
                    height: 100%;
                    width: 1px;
                    background-color: rgba($color: #519188, $alpha: 0.5);
                }
            }

            &.sidebar {
                display: flex;
                flex-direction: column;
                gap: 1em;
                padding: 1em;
                width: 100%;
                max-width: 25em;

                section {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;

                    &.trades {
                        img {
                            width: 3em;
                        }
                    }

                    &.sideLine {
                        width: 100%;

                        div {
                            width: 100%;
                            height: 1px;
                            background-color: rgba($color: #519188, $alpha: 0.5);
                        }
                    }

                    &.like {
                        align-items: flex-start;

                        a {
                            font-size: 1em;
                            background-color: #519188;
                            padding: .7em 1.5em;
                            color: white;
                            font-weight: 700;
                            cursor: pointer;
                            transition: all 100ms;
                            border-radius: 50px;
                            border: none;
                            text-decoration: none;

                            &:hover {
                                background-color: #1b3e3a;
                            }
                        }
                    }
                }
            }
        }
    }
}