// Styling van de register pagina
.pictureInput {
    display: none;
}

.label {
    max-height: 13em;
}

.imgWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms;

    &::after {
        background-image: url('/images/profile-plus.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: inline-block;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        opacity: 0;
    }

    &:hover {
        opacity: 0.8;

        &::after {
            opacity: .9;
        }
    }

}

.img {
    max-width: 12em;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.register {
    header {

        section {

            nav {

                ul {
                    display: none;

                }

                form {
                    display: none;

                }
            }
        }
    }

    main {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            max-width: 50em;
            margin-top: -1em;
        }

        .selected {
            color: #fff !important;

            &::after {
                content: "";
                top: 100%;
                left: 0px;
                right: 8px;
                margin: auto;
                height: 0px;
                width: 0px;
                position: absolute;
                border-style: solid;
                border-image: initial;
                border-color: #519188 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
                border-width: 10px;
                transition: all 50ms;
            }
        }

        .buttons {
            &:first-of-type {
                display: flex;
                justify-content: center;
                gap: 1em;

                a {
                    position: relative;
                    width: 12.5em;
                    padding: 1em;
                    border-radius: 0.5em;
                    text-align: center;
                    text-decoration: none;
                    color: #519188;
                    font-size: 1em;
                    border: #519188 3px solid;
                    transition: all 50ms;

                    &:hover::after {
                        content: "";
                        top: 100%;
                        left: 0px;
                        right: 8px;
                        margin: auto;
                        height: 0px;
                        width: 0px;
                        position: absolute;
                        border-style: solid;
                        border-image: initial;
                        border-color: #519188 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
                        border-width: 10px;
                        transition: all 50ms;
                    }
                }
            }
        }

        form {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 2em;
            margin-bottom: 2em;
            gap: 1em 0em;

            button {
                grid-column: span 5;
                margin-left: auto;
                padding: 1em 2em;
                background-color: #519188;
                border: none;
                border-radius: 0.5em;
                font-size: 1em;
                cursor: pointer;
                text-align: end;
            }

            section {
                grid-column: span 5;
                margin: 1em 0em;

                input {
                    height: 2.5em;
                    width: 20em;
                    box-shadow: 3px 3px 2px rgba($color: #000000, $alpha: 0.105);
                    outline: none;
                }

                label {
                    font-weight: bold;
                }

                &.submitOrNot {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    a {
                        color: #000;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    button {
                        grid-column: span 5;
                        margin-left: auto;
                        padding: 1em 2em;
                        background-color: #519188;
                        border: none;
                        border-radius: 50px;
                        font-size: 1em;
                        cursor: pointer;
                        text-align: end;
                        color: #fff;
                        transition: all 100ms;

                        &:hover {
                            background-color: #1b3e3a;
                        }
                    }
                }

                &:first-of-type {
                    grid-column: span 4;
                    display: flex;

                    article {
                        &:first-of-type {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            label {
                                box-shadow: none;
                                padding: 0em;
                                flex-direction: row;
                            }
                        }

                        &:nth-child(2) {
                            display: flex;
                            flex-direction: column;
                            padding: 1em;
                            margin-left: 2em;

                            p {
                                font-size: 1.3em;
                            }
                        }
                    }
                }

                article {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 1em;

                    p {
                        margin-bottom: 0em;
                    }

                    input {

                        &:checked {
                            +label {
                                background-color: #519188;
                                box-shadow: 0px 0px 20px #519188;
                            }
                        }
                    }

                    label {
                        width: 8em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        box-shadow: 0px 0px 10px #519188;
                        padding: 1em;
                        border-radius: 0.3em;
                        transition: all 100ms;

                        &:hover {
                            box-shadow: 0px 0px 20px #519188;
                        }

                        img {
                            max-height: 6em;
                            height: auto;
                        }
                    }
                }

                label {
                    cursor: pointer;
                }

                p {
                    margin-bottom: 1em;
                    font-weight: bold;
                }
            }

            article {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &:first-of-type {
                    grid-row: span 6;
                    margin-right: 1em;
                    display: flex;
                    flex-direction: row;

                    label {
                        cursor: pointer;
                    }
                }

                &:nth-child(3) {
                    grid-column: span 2;
                    margin-right: 0.5em;
                }

                &:nth-child(5) {
                    grid-column: span 3;
                }

                &:nth-child(6) {
                    grid-column: span 3;
                }

                &:nth-child(7) {
                    grid-column: span 3;
                    display: flex;
                    justify-content: flex-end;
                }

                input {
                    height: 3em;
                    font-size: 1em;
                    border-radius: .5em;
                    border: 2px solid #dfdfdf;
                    padding: 1em;
                    transition: all 100ms;
                    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 11%);
                    outline: none;

                    &:focus {
                        box-shadow: 3px 3px 6px 3px rgb(0 0 0 / 20%);
                        border: solid 2px rgb(124, 124, 124);
                    }

                }

                textarea {
                    outline: none;
                    height: 8em;
                    font-size: 1em;
                    padding: 1em;
                    resize: none;
                    border: 2px solid #dfdfdf;
                    border-radius: .5em;
                    transition: all 100ms;
                    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 11%);

                    &:focus {
                        box-shadow: 3px 3px 6px 3px rgb(0 0 0 / 20%);
                        border: solid 2px rgb(124, 124, 124);
                    }
                }

                label {
                    font-weight: bold;
                }
            }

            fieldset {
                grid-column: span 3;
                border: none;
                gap: 1em;
                display: flex;
                align-items: center;

                input {
                    accent-color: #519188;
                    cursor: pointer;
                    height: 2em;
                    width: 2em;
                    box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 0.37);
                    border-radius: 0px;
                    background-color: black;
                    border: 2px solid black;
                }

                label {
                    cursor: pointer;
                    font-size: 1em;
                }

                legend {
                    font-weight: bold;
                    padding: 1em 0;
                }
            }
        }
    }
}

.pElement {
    color: red;
    text-align: center;
    margin-top: 2em;
}

.adress {
    padding: 1em 1.5em;
    background-color: #519188;
    border-radius: 50px;
    cursor: pointer;
    margin-right: auto;
    color: #fff;
    transition: all 100ms;

    &:hover {
        background-color: #1b3e3a;
    }
}