// Styling van de index page
.index {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	main {
		max-width: 50em;
		margin: auto;
		position: relative;

		section {
			background-color: #f2d6ca48;
			padding: 10%;

			h1 {
				font-family: 'Fascinate', cursive;
				font-size: 3.75em;
			}
			p {
				font-family: "Roboto", sans-serif;
				font-size: 1.3em;
				margin-bottom: 1.9em;
				&:first-of-type {
					margin: 0.7em 0em;
				}
			}
			a {
				padding: 0.7em;
				font-family: "Roboto", sans-serif;
				font-weight: bold;
				text-decoration: none;
				color: white;
				background-color: #519188;
			}
		}
	}

}
