// Styling van de index page
.index {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	header {

		section {

			nav {

				ul {
					display: none;

				}

				form {
					display: none;

				}
			}
		}
	}

	main {
		max-width: 50em;
		margin: auto;
		position: relative;

		section {
			background-color: #fff;
			padding: 10%;
			border-radius: 15px;
			box-shadow: 1px 1px 35px 10px rgba(0, 0, 0, 0.1);

			h1 {
				font-size: 3.75em;
			}

			p {
				font-size: 1.3em;
				margin-bottom: 1.9em;

				&:first-of-type {
					margin: 0.7em 0em;
				}
			}

			a {
				padding: 1em;
				font-weight: bold;
				text-decoration: none;
				color: white;
				background-color: #519188;
				transition: all 100ms;
				border-radius: 50px;

				&:hover {
					background-color: #1b3e3a;
				}

				&:first-of-type {
					margin-right: 10px;
					padding: 1em 1.5em;
				}
			}
		}
	}
}