// Styling van de index page

.index {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	header {
		
		section {

			nav {
				
				ul {
					display: none;

				}

				form {
					display: none;

				}
			}
		}

	}

	main {
		max-width: 50em;
		margin: auto;
		position: relative;

		section {
			background-color: #f2d6ca48;
			padding: 10%;

			h1 {
				font-size: 3.75em;
			}

			p {
				font-size: 1.3em;
				margin-bottom: 1.9em;
				font-weight: 300;

				&:first-of-type {
					margin: 0.7em 0em;
				}
			}

			a {
				padding: 0.7em;
				font-weight: bold;
				text-decoration: none;
				color: #ffffff;
				background-color: #519188;
			}
		}
	}
}