.users {
    span {
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;

        >article {
            display: flex;
            justify-content: center;
            margin-top: 1em;
        }

        >h1 {
            padding-top: 0.3em;
            text-align: center;
            font-size: 3em;
        }

        >section {
            z-index: 1;
            max-width: 60em;
            height: 30.75em;
            margin: auto;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 2em 1.25em;
            padding-top: 0em;
            position: relative;
            align-items: center;
            scroll-behavior: smooth;
            gap: 2em;

            >section {
                position: relative;
                padding: 2em 3em;
                box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.3);
                border-radius: 20px;

                &:first-of-type {
                    margin-left: 1.2em;
                }

                &:hover {
                    box-shadow: 2px 2px 20px rgba($color: #000000, $alpha: 0.6);
                }

                a {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    text-decoration: none;
                    color: black;

                    article {
                        &:nth-child(3) {
                            ul {
                                display: flex;
                                gap: 1em;
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-content: space-around;
                                margin-top: 0.5em;
                            }
                        }

                        &:first-of-type {
                            width: 27.5em;
                            display: flex;
                            justify-content: space-between;
                        }

                        &:nth-child(2) {
                            ul {
                                display: flex;
                                gap: .5em;

                                li {
                                    color: #000;
                                    list-style: none;
                                    padding: 0.3em 0.5em;
                                    margin-top: 0.2em;
                                    background-color: #f2d6ca;
                                    border-radius: 20px;
                                    font-weight: 500;
                                }
                            }

                            p {
                                &:first-of-type {
                                    margin-bottom: 1em;
                                }
                            }
                        }

                        p {
                            strong {
                                font-size: 1.1em;
                            }
                        }

                        >img {
                            overflow: hidden;
                            object-fit: cover;
                            width: 150px;
                            height: 150px;
                            border-radius: 100%;
                            box-shadow: 3px 3px 5px rgba($color: #808080, $alpha: 0.6);
                            margin-bottom: 1em;
                        }

                        ul {
                            img {
                                width: 2.2em;
                                height: 2.2em;
                                padding: 0.2em;
                            }
                        }

                    }
                }

                h1 {
                    font-size: 2em;
                }

                >section {
                    position: absolute;
                    inset: auto 20px 20px auto;
                    padding: 0;
                    box-shadow: none;
                    border-radius: none;

                    &:hover {
                        box-shadow: none;
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;

                        svg {
                            height: 50px;
                            width: 50px;
                            fill: rgba($color: #519188, $alpha: 0.3);
                            transition: all 150ms;

                            &:hover {
                                fill: rgba($color: #519188, $alpha: 0.6);
                                filter: drop-shadow(0px 0px 5px rgba($color: #519188, $alpha: 0.75));
                            }
                        }
                    }
                }

            }

        }
    }
}

.likes {
    main {
        section {
            section {
                section {
                    button {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;

                        svg {
                            height: 50px;
                            width: 50px;
                            fill: rgba($color: #519188, $alpha: 1);
                            transition: all 150ms;

                            &:hover {
                                filter: drop-shadow(0px 0px 5px rgba($color: #519188, $alpha: 0.75));
                            }
                        }
                    }
                }
            }
        }
    }
}

#on {
    svg {
        fill: #519188;
    }

}


section.likes {
    display: none !important;
}

.next {
    background-color: #519188;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 0.2em 1.5em;
    margin-left: 1em;
    cursor: pointer;
    font-size: 1.5em;
    transition: all 100ms;

    &:hover {
        background-color: #1b3e3a;
    }
}

.previous {
    background-color: #519188;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 0.2em 1.5em;
    margin-right: 1em;
    cursor: pointer;
    font-size: 1.5em;
    transition: all 100ms;

    &:hover {
        background-color: #1b3e3a;
    }
}