.users {
    span {
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;

        >article {
            display: flex;
            justify-content: center;
        }

        >section {
            max-width: 60em;
            margin: auto;
            margin-top: 20px;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 2em 0.2em;
            position: relative;
            align-items: center;
            scroll-behavior: smooth;

            section {
                position: relative;
                padding: 2em 3em;
                box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.3);
                border-radius: 5px;

                &:hover {
                    box-shadow: 2px 2px 20px rgba($color: #000000, $alpha: 0.6);
                }

                a {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    text-decoration: none;
                    color: black;

                    li {
                        margin-left: 0.7em;
                    }

                    article {
                        &:nth-child(3) {
                            ul {
                                display: flex;
                                gap: 1em;
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-content: space-around;
                                margin-top: 0.5em;
                            }
                        }

                        &:first-of-type {
                            width: 20em;
                            display: flex;
                            justify-content: space-between;
                        }

                        &:nth-child(2) {
                            ul {
                                display: flex;
                                gap: 1em;
                            }

                            p {
                                &:first-of-type {
                                    margin-bottom: 1em;
                                }
                            }
                        }

                        p {
                            strong {
                                font-size: 1.1em;
                            }
                        }

                        >img {
                            display: none;
                        }

                        div {
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 150px;
                            height: 150px;
                            box-shadow: #519188 3px 3px 5px;
                            margin-bottom: 1em;
                        }

                        ul {
                            img {
                                width: 2.2em;
                                height: 2.2em;
                                padding: 0.2em;
                            }
                        }

                    }
                }

                h1 {
                    font-size: 2em;
                    font-family: "Roboto Mono", monospace;
                }

                >section {
                    position: absolute;
                    inset: auto 20px 20px auto;
                    padding: 0;
                    box-shadow: none;
                    border-radius: none;

                    &:hover {
                        box-shadow: none;
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;

                        svg {
                            height: 50px;
                            width: 50px;
                            fill: rgba($color: #519188, $alpha: 0.3);
                            transition: all 150ms;

                            &:hover {
                                fill: rgba($color: #519188, $alpha: 0.6);
                            }
                        }
                    }
                }

            }

        }
    }
}

section.likes {
    display: none !important;
}

.next {
    background-color: #519188;
    color: wheat;
    border: none;
    padding: 0.5em 2em;
    margin-left: 1em;
    cursor: pointer;

    &:hover {
        box-shadow: #519188 0px 0px 10px;
    }
}

.previous {
    background-color: #519188;
    color: wheat;
    border: none;
    padding: 0.5em 2em;
    margin-right: 1em;
    cursor: pointer;

    &:hover {
        box-shadow: #519188 0px 0px 10px;
    }
}